# Object Oriented Programming

In [3]:
class student:
  name=str()
  id_number=int()
  year=int()
  grades=list()

  def add_grade(self,grade):
    self.grades.append(grade)

  def average_grade(self):
    return sum(self.grades)/len(self.grades)

In [1]:
print(type(str))
print(type(str()))

<class 'type'>
<class 'str'>

In [4]:
class student:
  def __init__(self, name, id_number,year):
    self.name=name
    self.id_number=id_number
    self.year=year
    self.grades=list()

  def add_grade(self,grade):
    self.grades.append(grade)

  def average_grade(self):
    return sum(self.grades)/len(self.grades)

  def print_grades(self):
    for grade in self.grades:
      print(grade)

In [5]:
a_student=student("John David",111,2025)

a_student.add_grade(85)
a_student.add_grade(90)
a_student.print_grades()
print("Average:",a_student.average_grade())

85
90
Average: 87.5

In [6]:
students=list()
students.append(student("Jim Brian",112,2025))
students.append(student("Alex David",113,2025))

print(type(students[0]))

<class '__main__.student'>

In [7]:
students[0].add_grade(100)
students[0].add_grade(90)
students[0].add_grade(80)

students[1].add_grade(90)
students[1].add_grade(80)
students[1].add_grade(70)

In [10]:
for student in students:
  print("Name", student.name)
  print("Average:",student.average_grade())

Name Jim Brian
Average: 90.0
Name Alex David
Average: 80.0

## Consider the following simple example:

In [12]:
class person:
  def __init__(self, name):
    self.name=name
  def say_hello(self):
    print("Hello, my name is "+self.name)

In [13]:
# create objects
Bob=person("Bob")
Alice=person("Alice")

#call methods owned by virtual objects
Bob.say_hello()
Alice.say_hello()

Hello, my name is Bob
Hello, my name is Alice

In [15]:
people=[person("Jane"),person("Anna")]
Jane=people[0]
Jane.say_hello()
people[1].say_hello()

Hello, my name is Jane
Hello, my name is Anna

## Inheritance

In [17]:
class person:
  def __init_(self, name, id_number):
    self.name = name
    self.id_number = id_number

class student(person):
  def __init__(self, name, id_number, year):
    super(student, self).__init__(name,id_number)
    self.year=year
    self.grades=list()

  def add_grade(self,grade):
    self.grades.append(grade)

  def average_grade(self):
    return sum(self.grades)/len(self.grades)

  def print_grades(self):
    for grade in self.grades:
      print(grade)

class faculty(person):
   def __init__(self,name,id_number):
    super(faculty,self).__init__(name,id_number)
    self.courses=list()

   def add_courses(self,course):
    self.courses.append(course)

   def print_courses(self):
    for course in self.courses:
      print(course)